
<!-- SECTION 1: Hero -->
<section class="hero-section">
    <div class="group">
        <div class="text">
            <h2>
                Jovan Koledin:
            </h2>
            
            <h4> {{site.headline}} </h4>
            <p> {{site.description}}</p>
            <div class="links">
                <a href="#projects">
                    <i class="fa-solid fa-pen"></i>
                    <span>Projects</span>
                </a>
                <a href="#skills">
                    <i class="fa-solid fa-hammer"></i>
                    <span>Skills</span>
                </a>
                {% if site.external-links %}
                <span class="external-links">
                    {% assign platforms = "linkedin,x-twitter,github,stackoverflow,discord,medium,threads,bluesky,instagram,youtube" | split: "," %}
                    {% for platform in platforms %}
                        {% if site.external-links[platform] %}
                            {% case platform %}
                            {% when 'linkedin' %}
                            <a href="https://www.linkedin.com/in/{{ site.external-links[platform] }}/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        
                            {% when 'github' %}
                                <a href="https://github.com/{{ site.external-links[platform] }}/" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            
                            {% endcase %}
                        {% endif %}
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            
        </div>
        <div class="headshot">
            <img src= {{site.profile_image}} alt="john doe headshot">       
        </div>
    </div>
    
</section>

